@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/*CSS Reset*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Root Settings*/

:root {
    /*Primary*/

    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    /*Neutral*/

    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);

    /*Font Weight*/

    --light: 200;
    --medium: 400;
    --bold: 600;
}

/*Basic Styles*/

body {
    background-color: var(--very-light-gray);
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Components*/

.container__header {
    text-align: center;
    margin: 2rem;
}

.container__header__heading {
    color: var(--very-dark-blue);
    font-size: 1.6rem;
    font-weight: var(--light);
}

.container__header__sub-heading {
    color: var(--very-dark-blue);
    font-size: 1.6rem;
    font-weight: var(--bold);
}

.container__header__text {
    color: var(--grayish-blue);
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-top: 1rem;
}

.container__card-container {
    margin: 2rem;
}

.container__card-container__card {
    background: white;
    max-width: 400px;
    border-radius: .4rem;
    box-shadow: 2px 10px 32px -15px hsla(212, 54%, 25%, 0.6);
    padding: 1.2rem 1.8rem;
    margin: auto;
}

.container__card-container__card__heading {
    color: var(--very-dark-blue);
    font-size: 1.25rem;
}

.container__card-container__card__text {
    color: var(--grayish-blue);
    font-size: 0.8125rem;
    margin-top: .4rem;
}

.container__card-container__card__icon {
    text-align: end;
    margin-top: 2.1rem;
}

.container__card-container__card:first-child {
    margin-top: 4.4rem;
}

.container__card-container__card:not(.container__card-container__card--cyan) {
    margin-top: 1.3rem;
}

.container__card-container__card--cyan {
    border-top: 4px solid var(--cyan);
}

.container__card-container__card--red {
    border-top: 4px solid var(--red);
}

.container__card-container__card--orange {
    border-top: 4px solid var(--orange);
}

.container__card-container__card--blue {
    border-top: 4px solid var(--blue);
}

@media screen and (min-width: 1200px) {
    .container__header {
        padding: 0 26rem;
    }

    .container__header__heading {
        font-size: 2.4rem;
    }

    .container__header__sub-heading {
        font-size: 2.4rem;
    }

    .container__card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 0 8rem;
        margin-top: 5rem;
    }

    .container__card-container__card {
        width: 20rem;
    }

    .container__card-container__card:first-child {
        margin-top: auto;
    }

    .container__card-container__card:not(.container__card-container__card--cyan) {
        margin-top: auto;
    }

    .container__card-container__card--orange {
        margin-top: 2rem !important;
    }
}